<div id="index-banner" class="parallax-container vh">
    <div class="textprotect">
        <div class="section no-pad-bot">
            <div class="container">
                <br/>
                <br/>
                <h1 class="header center teal-text text-darken-1">
                    CAHU Internet
                </h1>
                <div class="row center">
                    <h5 class="header col s12 light teal-text text-darken-2">
                        We build awesome websites
                    </h5>
                </div>
                <div class="row center">
                    <a href="mailto:remi@migranthire.com" id="download-button" class="btn-large waves-effect waves-light teal darken-1">
                        Contact Us
                    </a>
                </div>
                <br/>
                <br/>
            </div>
        </div>
        <div class="parallax">
            <img ng-src="{{globals.images}}background3.jpg" alt="Unsplashed background img 1"/>
        </div>
    </div>
</div>
