<!doctype html>
<html lang="en" ng-app="angular-seed">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=max-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- build:css vendor/vendor.css -->
    <!--See reference in gruntfile-->
    <!--/build-->
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>CAHU Internet</title>
    <!-- build:css app.css -->
    <link rel="stylesheet" href="app.css">
    <!-- /build -->
    <base href="/">
    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{$root.globals.images}}favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{$root.globals.images}}favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{$root.globals.images}}favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{$root.globals.images}}favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{$root.globals.images}}favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{$root.globals.images}}favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{$root.globals.images}}favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{$root.globals.images}}favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{$root.globals.images}}favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{$root.globals.images}}favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{$root.globals.images}}favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{$root.globals.images}}favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{$root.globals.images}}favicons/favicon-16x16.png">
    <link rel="manifest" href="{{$root.scope.images}}favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{$root.scope.images}}favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--/Favicons-->
</head>
<body>
    <navigation-bar></navigation-bar>
    <side-nav></side-nav>
    <ui-view></ui-view>
    <footer-section></footer-section>
    <!-- build:js vendor/vendor.js -->
    <!--See grunt file and bower.json for reference-->
    <!--/build-->
    <!-- build:js app.js-->
    <!--Automated in gruntfile-->
    <!-- /build -->
    <!--livereload-->
    <script src="http://localhost:35729/livereload.js"></script>
    <!--Google Analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-xxxxxx-xxx', 'auto');
  </script>
</body>

</html>
